.archive-view .entry {
	padding-right: 320px;
	min-height: 840px;
}
.archive-view .sidebar {
	width: 300px;
	position: absolute;
	right: 15px; 
	top: 0px;
	bottom: 0px;
}

@media ( max-width: 960px ) {
	.archive-view .entry {
		padding: 0px;	
	}
	.archive-view .sidebar {
		width: 100%;
		position: static;	
	}
}


/* pagination */

.pagination > li > a, .pagination > li > span {
	color: #002A45;
	font-size: 19px;
	font-weight: bold;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: #002A45;
	border-color: #002A45;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 0px;
}
