/*general */
.footer-menu {
	overflow: hidden;
}
.footer-menu a {
	color: #FFF;
	line-height: 26px;
	display: block;
	font-size: 13px;
}
.footer-menu a:hover,.footer-menu a:focus, .footer-menu a:active {
	color: #CCC;
}
.footer-menu .fa {
	color: #FFF;
	padding-right: 10px;
	width: 25px;
	font-size: 120%;
}
.footer-menu strong {
	text-decoration: underline;
}

.footer-title {
	color: #FFF;
	font-size: 22px;
	margin-bottom: 25px;
}

@media ( max-width: 769px) {
	.footer-title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.footer-menu a {
		line-height: 24px;	
	}
	.footer-menu li {
		width: 50%;
		float: left;
		text-transform: capitalize;
	}
	.footer-menu-social li {
		width: 100%;
		float: none;
	}
}
/* wrapper */

#footer-content-wrapper {
	background: #59656F;
	padding: 40px 0px;
}

@media ( max-width: 769px) {
	#footer-content-wrapper {
		padding-bottom: 0px;
		padding-top: 0px;
	}
	#footer-content {
		padding: 0px;
	}
	#header-wrapper-inside {
		padding: 0px;
	}
}
/* footer info text */

#footer-info {
	padding-top: 30px;
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
}
.footer-region {
	margin-bottom: 15px;
}
.footer-region i {
	padding-right: 10px;
}
@media ( max-width: 960px ) {
	#footer-info {
		line-height: 22px;
	}
}
@media ( max-width: 769px ) {
	#footer-info {
		padding: 10px 15px 10px;
		font-size: 12px;
		line-height: 20px;
	}
	#footer-info h3 {
		color: #FFF;
		margin-top: 10px;
	}
}
@media ( max-width: 520px) {
	.footer-region {
		text-align: left;
		padding-left: 15px;
	}
}
/* footer meta */
#footer-meta {
	background: #111;
	padding: 15px 0px;
	color: #FFF;
	font-size: 13px;
}
#footer-meta .list-inline {
	display: table;
	margin: 0 auto 15px;
}
#footer-meta .list-inline a {
	color: #FFF;
	line-height: 25px;
	font-size: 12px;
}
#footer-meta .item {
	padding: 0px 10px;
}

#footer-meta .footer-copy {
	margin-bottom: 0px;
}

@media ( max-width: 520px) {
	#footer-meta {
		background: #59656f;
		color: #ccc;
		padding-top: 0px;
		padding-left: 5px;
	}
	#footer-meta li {
		width: 50%;
		float: left;
		font-size: 14px;
	}
	#footer-meta p {
		text-align: left;
		padding-left: 10px;
	}
}
/* footer logo */
#footer-logo-wrapper {
	overflow: hidden;
	padding-bottom: 25px;
}
.footer-logo {
	margin: 0 auto;
}
.footer-logo img {
	height: 50px;
}
.footer-tag {
	color: #FFF;
	line-height: 30px;
	font-size: 18px;
	display: none;
}
@media ( max-width: 769px ) {
	#footer-logo-wrapper {
		display: none;
	}
}
/* footer sub */

.list-footer-subs .item-img-first {
	padding-top: 20px;
}
.list-footer-subs .item-img img {
	max-width: 125px;
	padding-bottom: 10px;
	margin: 0px;
}

@media ( max-width: 769px ) {
	.list-footer-subs li {
		width: 100%;
		float: none;
	}
}
@media ( max-width: 520px ) {
	.widget-footer-sub {
		background: #121212;
		overflow: hidden;
		padding-bottom: 10px;
	}
}
