input {
	margin-bottom: 10px;
	border-radius: 0px;
	border: 1px solid #CCC;
	line-height: 35px;
	padding: 0px 10px;
	font-size: 16px;
}
textarea {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 0px;
	font-size: 16px;
	line-height: 22px;
}
.input-block, .textarea-block {
	width: 100%;
}
