#menu-sidebar {
	z-index: 99999999;
	font-size: 16px;
}
/* Position and sizing of burger button */
.bm-burger-button{
	position: absolute;
	height: 20px;
	left: 0px;
	top: 20px;
	width: 60px;
}

.bm-burger-bars {
    background: #FFF;
    left: 15px !important;
    right: 15px !important;
    height: 2px !important;
}

/* Position and sizing of clickable cross button */
#menu-sidebar .bm-cross-button {
  right: 15px !important;
  top: 1px !important;
  display: none;
  height: 40px !important;
  width: 40px !important;
}
@media ( max-width: 769px) {
	#menu-sidebar .bm-cross-button {
	  display: block;
	}
}
/* Color/shape of close button cross */
.bm-cross {
  background: #FFF;
  width: 2px !important;
  height: 24px !important;
}

/* General sidebar styles */
.bm-menu {
	background: #6D7784;
	text-align: left;
}

#menu-sidebar .bm-menu-wrap{
	top: 0;
	left: 0;
}
.bm-menu .bm-item-list > ul li {
	border-bottom: 1px dotted #828993;;
}
.list-side-menu  li {
	position: relative;
}
.list-side-menu li a {
	line-height: 40px;
	display: block;
	padding: 0px 20px;
	color: #FFF;
}
.list-side-menu .item-caret {
	position: absolute;
	right: 10px;
	top: 0px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
.list-side-menu .item-caret:hover {

}
.list-side-menu li ul {
	background: #828993;
}
.bm-menu .bm-item-list ul ul li {
	border-bottom: 1px dotted #5b6676;
}
.bm-menu .bm-item-list ul ul li:last-child {
	border: 0px !important;
}
.list-side-menu li a:hover {
	background: #002A45;
	color: #FFF;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list a {
  color: #FFF;
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}




#header-wrapper {
	background: #103750;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
}
#top-header {
	height: 60px;
}

#top-burger {
	float: left;
	width: 60px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
#top-burger .fa {
	width: 60px;
}
#top-logo {
	float: left;
	height: 52px;
	padding-top: 6px;
	padding-left: 15px;
	padding-right: 30px;
}
#top-logo a {
	display: block;
}
#top-logo img {
	height: 48px;
}

@media (max-width: 1199px) {
	#top-logo {
		padding-right: 20px;
	}
}
@media ( max-width: 769px ) {
	#top-logo {
		padding-right: 0px;
		padding-left: 0px;
		float: none;
		position: absolute;
		left: 60px;
		right: 60px;
		text-align: center;
	}
}
#top-menu {
	float: left;
	height: 60px;
}
#top-menu li a {
	color: #EEE;
	display: block;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 14px;
}
#top-menu li a:hover {
	color: #FFF;
}
.top-menu-icon {
	font-size: 25px !important;
	line-height: 60px !important;
	height: 60px;
}
@media ( max-width: 1199px ) {
	#top-menu .list-inline li {
		padding: 0px 8px;
	}
}
@media ( max-width: 810px ) {
	#top-menu {
		display: none;
	}
}

#top-search {
	float: right;
	line-height: 60px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}
#top-search .top-menu-icon {
	float: left;
}
#top-search .top-search-txt {
	float: left;
	padding-left: 10px;
	font-size: 14px;
}

.header-menu-hide{
	display: none !important;
}

@media ( max-width: 769px) {
	#top-search .top-menu-icon {
		width: 60px;
	}
}

/* social icons */
.list-social-icon {
	padding: 10px 0px;
	overflow: hidden;
}
.list-social-icon li {
	width: 25%;
	float: left;
	padding: 0px;
	text-align: center;
	border: 0px !important;
}
.list-social-icon li .fa {
	font-size: 30px;
	line-height: 50px;
}

/* subs */
.sidemenu-subs {
	padding: 20px 5px;
	overflow: hidden;
	background: #111;
}
.sidemenu-subs strong {
	font-size: 12px;
}
.sidemenu-subs .sidemenu-subs-action {
	padding-left: 0px;
	padding-top: 20px;
}
.sidemenu-subs .sidemenu-subs-action a {
	color: #FFF;
}
.sidemenu-subs .sidemenu-subs-action a:hover {
	text-decoration: underline !important;
}
.sidemenu-subs .item-img-first {
	padding-top: 20px;
}
.sidemenu-subs .item-img img {
	max-width: 100px;
	padding-bottom: 10px;
}