#content-wrapper {
  padding: 60px 0px 20px;
}

/** React search modal **/
/* 
width: 75% !important;
    margin: 10% auto !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: initial !important;
    background-color: #8c8c8cbf !important;
    min-height: 700px !important;
*/
.bm-overlay {
	top: 0px;
	left: 0px;
	right: 0px;
}

@media ( max-width: 769px ) {
	.col-xs-12 {
		float: none;
		width: 100%;
	}
	.visible-xs {
		display: block !important;
	}
}
