/*general */
.post-content a{
	color: #009cd8 !important;
}
.post-title {
	color: #000;
	letter-spacing: -0.5px;
}
.post-label {
	clear: both;
}
.post-excerpt {
	line-height: 20px;
	color: #555;
	font-size: 14px;
}
.post-tags {
	color: #6D7784;
	display: block;
	font-size: 12px;
}
.post-meta {
	display: block;
	font-size: 12px;
	color: #6D7784;
}
.post-company-address {
	padding-left: 30px;
	position: relative;
}
.post-company-address::after {
	content: "\f01d";
	font-family: "Global";
	width: 30px;
	text-align: left;
	font-size: 20px;
	position: absolute;
	left: 5px;	
	top: 0px;
	color: #CCC;
}
.post-company-address-txt {
	display: block;
	line-height: 19px;
}
.post-view #post-tags-wrap {
	text-align: right;
}

.post-view .post-featured-img  {
	margin-bottom: 20px;
	width: 100%;
}

.post-view header {
	padding-top: 20px;
	border-top: 3px solid #999;
	overflow: hidden;
}
.post-view header .header-meta-block .post-meta {
	padding-bottom: 10px;
}
.post-view header .post-title {
	margin: 0px 0px 15px;
	font-size: 34px;
	letter-spacing: -1px;
	font-weight: bold;
}
.post-view header .post-author {
	display: none;
}


@media ( max-width: 960px ) {
	.post-view .header-meta {
		margin: 0px;
	}
	.post-view .post-date {
		font-size: 10px;
	}
	
	.post-view header {
		margin-bottom: 0px;
		border: 0px;
		padding: 0px;
	}
	.post-view header h1, .post-view header .lead {
		padding-left: 15px;
		padding-right: 15px;
	}
	.post-view header .lead {
		margin-bottom: 0px;
	}
	.post-view header .lead p {
		margin: 0px 0px 5px;
		font-size: 16px;
	}
	.post-view header .post-author {
		display: block;
		padding-left: 15px;
	}
	.post-view .post-author-wrapper {
		border: 0px;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	.post-view header .post-title {
		font-size: 28px;
		line-height: 31px;
	}
	.post-view .entry-content {
		padding: 0px;
	}
	.post-view .post-content {
		padding: 0px 15px 0px;
	}
	.post-view .post-view-inner {
		padding: 0px;
	}
	.post-view .entry-content p {
		margin-bottom: 15px;
	}
}

@media ( max-width: 520px ) {
	.post-view .header-meta-block {
		float: none;
		width: 100%;
	}
	.post-view .header-meta-block ul {
		text-align: left;
		font-size: 12px;
	}
	.img-responsive{
		max-width: 100% !important;
	}
}

/* post view sidebar layout */


.post-view-sidebar .entry-inner {
	position: relative;
}
.post-view-sidebar .entry-content {
	padding-left: 320px;
	padding-bottom: 20px;
}
.post-view-sidebar .entry-content p {
	margin-bottom: 25px;
}
.post-view-sidebar .entry-content img {
	margin-bottom: 20px;
}
.entry-content img{
	margin: auto;
}

.post-view-sidebar .entry-sidebar {
	padding: 0px;
	width: 300px;
	position: relative;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 15px;
	bottom: 0px;
}
.post-view-sidebar .entry-sidebar .post-date {
	padding-bottom: 20px;
	padding-left: 15px;
}
@media ( max-width: 960px ) {

	.post-view-sidebar .entry-sidebar {
		position: static;
		width: 100%;
	}

	.post-view-sidebar .entry-content {
		padding-top: 15px;
		padding-left: 0px;
	}

}
@media ( min-width: 960px ) {

	.post-view-sidebar .entry-content {
		min-height: 750px;
	}

}

/* header-fixed */

@media ( min-width: 960px ) {
	.post-view-sidebar .header-fixed {
		position: fixed;
		top: 60px;
		margin-left: 320px;
		background: #EEE;
		z-index: 9;
		max-width: 850px;
		border: 0px;
		padding-bottom: 10px;
		padding-top: 20px;
		padding-left: 10px;
		display: block !important;
		width: 100%;
	}
	.post-view-sidebar .header-fixed .header-fixed-title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 5px;
		font-weight: bold;
		color: #333;
	}
	.post-view-sidebar .header-fixed .header-fixed-lead {
		font-size: 16px;
		margin: 0px;
		line-height: 22px;
	}
	.post-view-sidebar .header-fixed .header-fixed-lead p {
		margin: 0px;
		font-size: 16px;
	}
	.post-view-sidebar .header-fixed .header-fixed-author {
		display: block;
		font-size: 12px;
	}
}


/* images  - no caption */

.img-nocaption {
	margin-top: 20px;
	margin-bottom: 20px;
}
.img-nocaption.pull-left {
	margin-right: 20px;
}
.img-nocaption.pull-right {
	margin-left: 20px;
}

@media ( max-width: 769px ) {
	.img-nocaption.pull-left, .img-nocaption.pull-right {
		float: none !important;
		text-align: center;
		margin: 20px auto !important;
		max-width: 600px !important;
		width: 100%;
	}
}

ol.ol-bold > li{
	font-weight: bold;
}
