.brand-bg {
	background: #002A45;
	color: #FFF;	
}
.fb-bg {
	background: #3664A2;
	color: #000;
}
.fb-bg-hover:hover {
	background: #3664A2 !important;
	color: #FFF;
}
.twitter {
	color: #55ACEE;
}
.twitter-bg {
	background: #55ACEE;
	color: #FFF;
}
.twitter-bg-hover:hover {
	background: #55ACEE !important;
	color: #FFF;
}

.linkedin-bg {
	background: #0374B3;
	color: #FFF;
}
.linkedin-bg-hover:hover {
	background: #0374B3 !important;
	color: #FFF;
}

.google-plus-bg {
	background: #DD4B39;
	color: #FFF;
}
.google-plus-bg-hover:hover {
	background: #DD4B39 !important;
	color: #FFF;
}

.instagram-bg {
	background: #BC2A8D;
	color: #FFF;
}
.instagram-bg-hover:hover {
	background: #BC2A8D !important;
	color: #FFF;
}