body {
	margin: 0px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	font-weight: 300;
	min-width: 320px;
	color: #555;
}

@media ( max-width: 769px ) {
	body {
		font-size: 14px;
		line-height: 20px;
	}
} 
.convert2 {
	font-family: 'Roboto Condensed', sans-serif;
}

/*Branding */

a {
	color: #002A45;
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* Headings */
h1 {
	font-weight: bold;
	color: #000;
	font-size: 32px;
	line-height: 40px;
}
h2 {
	font-size: 19px;
	line-height: 24px;
	letter-spacing: -0.5px;
	font-weight: bold;
	color: #111;
}

h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.pointer{
	cursor: pointer;
}
.section-title-wrapper {
	position: relative;
}
.section-title {
	color: #000;
	font-size: 30px;
	line-height: 40px;
}
.section-title-sm {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0px 15px; 
	margin: 0px;
	border-top: 1px solid #CCC;
	text-transform: uppercase;
	color: #000;
}
.section-title-action {
	position: absolute;
	right: 0px;
	top: 15px;
}
.page-title {
	margin-bottom: 20px;
}
@media ( max-width: 769px ) {
	.section-title-sm {
		padding-left: 0px;
		border-color: #000;
	}
}
@media ( min-width: 440px ) and ( max-width: 769px) {
	.section-title-sm {
		text-align: center;
	}
	.section-title-action {
		position: relative;
		clear: both;
		top: 0px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: 25px;
	}
}
/* General */
.no-margin {
	margin: 0px;
}

.text-upper {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-small {
	font-size: 90%;
}
.text-right {
	text-align: right;
}
.list-unstyled {
	list-style: none;
	padding: 0px;
}
.list-inline {
}
.list-inline li {
	display: inline-block;
	padding: 0px 15px;
}
.lead, .lead p {
	font-size: 18px;
	letter-spacing: -0.5px;
}
.mb0 {
	margin-bottom: 0px;
}
.mb20 {
	margin-bottom: 20px;
}
.clear {
	clear: both;
}
.cursor {
	cursor: pointer;
}
.left {
	float: left;
}
.right {
	float: right;
}
/* buttons */
.btn-wrapper {
	overflow: hidden;
	padding: 15px 0px;
}
.btn {
	border-radius: 0px;
}

.btn-link {
	border: 0px;
	background: none;
}
.btn-main {
	color: #FFF;
	background: #002A45;
	border-color: #002A45;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
	color: #FFF;
	background: #59656F;
	border-color: #59656F;
}

.label {
	font-size: 12px;
	line-height: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 0px;
	font-weight: 600;
}
.label-main {
	background: #4AD5DC;
	color: #FFF;
	text-transform: uppercase;
}
.label-main:hover, .label-main:active, .label-main:focus {
	background: #6d7784;
}
.label-alt {
	background: #6D7784;
	color: #FFF;
	text-transform: uppercase;
}
.label-alt:hover, .label-alt:active, .label-alt:focus {
	background: #999;
}

/* containers */

.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
    width: 100%;
    min-width: 320px;
}
.max-content {
	max-width: 600px;
}
/*video containers */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/** GENERAL ***/
.margin-auto{
	margin: auto;
}
.mb10{
	margin-bottom: 10px;
}

.nomargin{
	margin: 0 !important;
}