.widget {
	margin-bottom: 20px;
}
.widget-title {
	position: relative;
	line-height: 40px;
}
.widget-title .fa {
	height: 40px;
	line-height: 40px;
}



/*
 * .widget-pab (post archive block)
 * .widget-pav (post archive view)
 * .widget-pav-simple (post archive view simple - no images)
 * .widget-pal (post archive list)
 * 
 */


/* Widget - block format archived posts 
 Widget Post Archive Block
 * */
.widget-pab {
	padding: 0px 0px;
	overflow: hidden;
	margin-bottom: 0px;
}
.widget-pab > .widget-item {
	margin-bottom: 20px;
}

.widget-pab .widget-item.col-sm-4:nth-child(3n+1) {
	clear: both;
}
.widget-pab .post-title {
	margin-top: 0px;
	font-size: 17px;
	line-height: 22px;
}
.widget-pab .widget-body {
	padding: 10px 0px;
}
.widget-pab .post-img img {
	margin-left: auto;
	margin-right: auto;
}
.widget-pab .post-excerpt {
	margin-top: 5px;
}

@media ( max-width: 960px ) {
	.widget-pab > .widget-item {
		margin-bottom: 10px;
	}
}
@media ( min-width: 440px ) and ( max-width: 769px) {
	.widget-pab .widget-item {
		text-align: center;
	}
	.widget-pab .widget-inner {
		max-width: 440px;
		margin: 0 auto;
	}
}
/* Widget - list format archived posts
 Widget Post Archive List
 */

.widget-pal .widget-item {
	clear: both;
	border-bottom: 1px dashed #CCC;
}
.widget-pal .widget-inner  {
	padding: 15px 0px;
}
.widget-pal .widget-inner > a {
	display: block;
	overflow: hidden;
}
.widget-pal .post-img {
	float: right;
	max-width: 80px;
	padding-left: 10px;
}
.widget-pal .post-title {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal;
}

.widget-pal-exec .widget-item {
	margin: 0px;
}
.widget-pal-exec .post-img {
	max-width: 100px;
}
.widget-pal-exec .post-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}
.widget-pal-exec .widget-body {
	padding: 0px;
	padding-right: 100px;
	
}
.widget-pal-exec .widget-item:last-child {
	border: 0px;
	margin: 0px;
}

/*
 * post archive view
 */
.widget-pav .post-title {
	margin-bottom: 5px;
}


/* related posts
 * /
 * /
 */


.post-related-wrap .widget-pab .widget-item {
	margin: 0px;
}
.post-related-wrap ul {
	margin: 0px;
}
 
@media (min-width: 520px ) and ( max-width: 769px ) {
	.post-related-wrap .widget-pab .widget-item {
		width: 50%;
		float: left;
	}
}
@media ( min-width: 961px ) {
	#entry-sidebar-after {
		top: 0px;
	} 
	.post-related-wrap .post-title {
		height: 70px;
		margin: 0px;
		line-height: 22px;
		font-weight: normal;
	}
}
@media ( max-width: 769px ) {
	.post-related-wrap .section-title-sm {
		margin: 0px 15px;
	}
}
